.graph
  width: 100%

  text
    font-weight: 300

  &__axis
    path
      fill: none
      stroke: $color-text
      shape-rendering: crispEdges

  &__label
    fill: $color-text

  &__circle
    cursor: pointer
    fill: rgba($color-green, .65)
    transition: transform .3s cubic-bezier(.7, -.55, .25, 1.55)

    &:hover
      transform: scale(2)

    &--doping
      fill: rgba($color-red, .65)

.tick
  line
    stroke: $color-text

  text
    fill: $color-text
