.tooltip
  box-shadow: 0 .5rem 1.25rem -.5rem $color-text
  color: #444
  left: 40px
  opacity: 0
  position: absolute
  top: 10px
  text-align: center
  transform: translateY(-100%)
  transition: all 75ms ease-in-out
  width: 200px

  &__header
    background-color: rgba(0, 128, 0, .9)
    color: #eee
    display: flex
    justify-content: space-between

  &__footer
    background-color: rgba(black, .7)
    color: #eee

  p
    margin: 0
    padding: .5em
